/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss (1) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #FF5455;
  --primary-color-transparent: rgba(0,0,0,0.5);
  --background-color: #FFFFFF;
}
body {
  margin: 0px;
  font-family: Montserrat;
  font-size: 12px;
}
.tooltip {
  font-size: 11px;
  font-weight: 600;
}
.textarea {
  width: 100% !important;
  padding: 0px 20px;
  box-sizing: border-box;
}
.textarea div {
  margin-top: 20px;
}
.textarea div label {
  margin-bottom: 10px;
  display: block;
  line-height: 20px;
}
.textarea div textarea {
  min-height: 80px;
  border-radius: 8px;
  width: 100%;
  border: solid 1px #ccc;
  box-sizing: border-box;
  padding: 20px;
}
.divTableCell .textmetric.disabled input {
  border-color: #ccc !important;
}
.divTableCell .textmetric.disabled select {
  border-color: #ccc !important;
}

/*# sourceMappingURL=styles.88ce0a70da5184d0.css.map*/